h1{
	display: flex;
	justify-content: center;
}
form {
  /* Just to center the form on the page */
  margin: 0 auto;
  width: 700px;
  /* To see the outline of the form */
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
}

form div + div {
  margin-top: 1em;
}

label {
  /* To make sure that all labels have the same size and are properly aligned */
  display: inline-block;
  width: 203px;
  text-align: right;
}

input, textarea {
  /* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font */
  font: 1em sans-serif;

  /* To give the same size to all text fields */
  width: 300px;
  box-sizing: border-box;

  /* To harmonize the look & feel of text field border */
  border: 1px solid #999;
}

input:focus, textarea:focus {
  /* To give a little highlight on active elements */
  border-color: #000;
}

textarea {
  /* To properly align multiline text fields with their labels */
  vertical-align: center;

  /* To give enough room to type some text */
  height: 5em;
}

/*.button {
   To position the buttons to the same position of the text fields 
  padding-left: 90px; /* same size as the label elements 
}*/

#E-mail {
  /* This extra margin represent roughly the same space as the space
     between the labels and their text fields */
  display: flex;
  align-items: center;
}

/*localstorage stock une chaine de caractère; 

annuaire : aurelien chirot, boris setti, michel drucker
var anuaire.split() => ["aurelien chirot", "boris setti", "michel drucker"]

var crm = [{num:243,list:["AZED"]},["A","B"]];


var crm_linearise = JSON.stringify(crm);

inverse = JSON.parse(crm);*/